.cta {
  padding: 4rem 0;
  background: linear-gradient(135deg, var(--ifm-color-primary) 0%, var(--ifm-color-secondary) 100%);
  color: white;
  text-align: center;
}

.buttons {
  padding-top: 2rem;
}

@media screen and (max-width: 996px) {
  .cta {
    padding: 2rem 0;
  }
}